[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "polybar-scripts"]
	path = polybar-scripts
	url = git@github.com:polybar/polybar-scripts.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
